<script>
    async function completeTodo(id, completed){

         try {
            const res = await axios.patch('/api/todos/' + id,
                    {
                        completed:!completed
                    }
            );
            Swal.fire({
                type : 'success',
                text: 'User successfully loggedin'
            }).then(() =>{location.href ='/'});
        } catch (e) {
            console.log(e.response.data.message);
            Swal.fire(e.response.data.message);
        }
    }
    document.addEventListener('DOMContentLoaded',()=>{
       const ul = document.querySelector('#todos');
          if(ul){
              ul.addEventListener('click', (evt)=>{
                const eleId =  evt.target.id + '';

                 if(eleId.startsWith('spn-')){
                     const id = eleId.replace('spn-','')*1;
                     const completed = +evt.target.getAttribute('completed')

                     completeTodo(id,completed);
                 }
              });
          }
    });

</script>
<h1> {{list_name}}</h1>
{{#if messages}}
    {{#each messages}}
        <div class="alert alert-success">{{this}}</div>
    {{/each}}
{{/if}}
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{this}}</div>
    {{/each}}
{{/if}}
{{> newtodo this}}
{{#if todos}}
<ul class="list-group list-group-flush" id="todos">
    {{#each todos}}
        <li class="list-group-item"  id="li-{{this.todo}}">
            <div class="form-check">
                <button class="btn btn-default">
                    <span completed = "{{this.completed}}" id="spn-{{this.id}}" class="fa {{#if this.completed}}fa-check {{else}} fa-square-o {{/if}}">

                    </span>
                </button>
                <label class="form-check-label" for="defaultCheck1">
                    {{this.todo}}
                </label>

            </div>


        </li>

    {{/each}}
</ul>
{{else}}
    <h2 class="text-danger">No todos found!</h2>
{{/if}}
